In [1]:
import pandas as pd
import numpy as np

In [4]:
np.random.seed(101)
d = np.random.randint(0,101,(4,3))

In [5]:
d

array([[95, 11, 81],
       [70, 63, 87],
       [75,  9, 77],
       [40,  4, 63]])

In [6]:
i = ['CA','NY','AZ','TX']

In [7]:
columns = ['Jan','Feb','Mar']

In [8]:
df = pd.DataFrame(d,i,columns)

In [9]:
df

    Jan  Feb  Mar
CA   95   11   81
NY   70   63   87
AZ   75    9   77
TX   40    4   63

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4 entries, CA to TX
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Jan     4 non-null      int32
 1   Feb     4 non-null      int32
 2   Mar     4 non-null      int32
dtypes: int32(3)
memory usage: 80.0+ bytes

In [12]:
pwd

'F:\\Dev\\python\\course\\03_pandas'

In [18]:
df = pd.read_csv('../course_notebooks/03-Pandas/tips.csv')
df

,total_bill,tip,sex,smoker,day,time,size,price_per_person,Payer Name,CC Number,Payment ID
0,16.99,1.01,Female,No,Sun,Dinner,2,8.49,Christy Cunningham,3560325168603410,Sun2959
1,10.34,1.66,Male,No,Sun,Dinner,3,3.45,Douglas Tucker,4478071379779230,Sun4608
2,21.01,3.50,Male,No,Sun,Dinner,3,7.00,Travis Walters,6011812112971322,Sun4458
3,23.68,3.31,Male,No,Sun,Dinner,2,11.84,Nathaniel Harris,4676137647685994,Sun5260
4,24.59,3.61,Female,No,Sun,Dinner,4,6.15,Tonya Carter,4832732618637221,Sun2251
...,...,...,...,...,...,...,...,...,...,...,...
239,29.03,5.92,Male,No,Sat,Dinner,3,9.68,Michael Avila,5296068606052842,Sat2657
240,27.18,2.00,Female,Yes,Sat,Dinner,2,13.59,Monica Sanders,3506806155565404,Sat1766
241,22.67,2.00,Male,Yes,Sat,Dinner,2,11.34,Keith Wong,6011891618747196,Sat3880
242,17.82,1.75,Male,No,Sat,Dinner,2,8.91,Dennis Dixon,4375220550950,Sat17
243,18.78,3.00,Female,No,Thur,Dinner,2,9.39,Michelle Hardin,3511451626698139,Thur672

In [24]:
print(df.columns)
print(df.index)
print(df.head())
print(df.tail(3))
print(df.info())

Index(['total_bill', 'tip', 'sex', 'smoker', 'day', 'time', 'size',
       'price_per_person', 'Payer Name', 'CC Number', 'Payment ID'],
      dtype='object')
RangeIndex(start=0, stop=244, step=1)
   total_bill   tip     sex smoker  day    time  size  price_per_person  \
0       16.99  1.01  Female     No  Sun  Dinner     2              8.49
1       10.34  1.66    Male     No  Sun  Dinner     3              3.45
2       21.01  3.50    Male     No  Sun  Dinner     3              7.00
3       23.68  3.31    Male     No  Sun  Dinner     2             11.84
4       24.59  3.61  Female     No  Sun  Dinner     4              6.15

           Payer Name         CC Number Payment ID
0  Christy Cunningham  3560325168603410    Sun2959
1      Douglas Tucker  4478071379779230    Sun4608
2      Travis Walters  6011812112971322    Sun4458
3    Nathaniel Harris  4676137647685994    Sun5260
4        Tonya Carter  4832732618637221    Sun2251
     total_bill   tip     sex smoker   day    time  size  price_per_person  \
241       22.67  2.00    Male    Yes   Sat  Dinner     2             11.34
242       17.82  1.75    Male     No   Sat  Dinner     2              8.91
243       18.78  3.00  Female     No  Thur  Dinner     2              9.39

          Payer Name         CC Number Payment ID
241       Keith Wong  6011891618747196    Sat3880
242     Dennis Dixon     4375220550950      Sat17
243  Michelle Hardin  3511451626698139    Thur672
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   total_bill        244 non-null    float64
 1   tip               244 non-null    float64
 2   sex               244 non-null    object
 3   smoker            244 non-null    object
 4   day               244 non-null    object
 5   time              244 non-null    object
 6   size              244 non-null    int64
 7   price_per_person  244 non-null    float64
 8   Payer Name        244 non-null    object
 9   CC Number         244 non-null    int64
 10  Payment ID        244 non-null    object
dtypes: float64(3), int64(2), object(6)
memory usage: 21.1+ KB
None

In [26]:
df.describe()

       total_bill         tip        size  price_per_person     CC Number
count  244.000000  244.000000  244.000000        244.000000  2.440000e+02
mean    19.785943    2.998279    2.569672          7.888197  2.563496e+15
std      8.902412    1.383638    0.951100          2.914234  2.369340e+15
min      3.070000    1.000000    1.000000          2.880000  6.040679e+10
25%     13.347500    2.000000    2.000000          5.800000  3.040731e+13
50%     17.795000    2.900000    2.000000          7.255000  3.525318e+15
75%     24.127500    3.562500    3.000000          9.390000  4.553675e+15
max     50.810000   10.000000    6.000000         20.270000  6.596454e+15

In [33]:
print(type(df['total_bill']))
df['total_bill']

<class 'pandas.core.series.Series'>

0      16.99
1      10.34
2      21.01
3      23.68
4      24.59
       ...
239    29.03
240    27.18
241    22.67
242    17.82
243    18.78
Name: total_bill, Length: 244, dtype: float64

In [35]:
df[['total_bill', 'tip']]

     total_bill   tip
0         16.99  1.01
1         10.34  1.66
2         21.01  3.50
3         23.68  3.31
4         24.59  3.61
..          ...   ...
239       29.03  5.92
240       27.18  2.00
241       22.67  2.00
242       17.82  1.75
243       18.78  3.00

[244 rows x 2 columns]

In [38]:
100 * df['tip'] / df['total_bill']

0       5.944673
1      16.054159
2      16.658734
3      13.978041
4      14.680765
         ...
239    20.392697
240     7.358352
241     8.822232
242     9.820426
243    15.974441
Length: 244, dtype: float64

In [47]:
df['tip_percentage'] = 100 * df['tip'] / df['total_bill']
df[['tip','total_bill','tip_percentage']]

      tip  total_bill  tip_percentage
0    1.01       16.99        5.944673
1    1.66       10.34       16.054159
2    3.50       21.01       16.658734
3    3.31       23.68       13.978041
4    3.61       24.59       14.680765
..    ...         ...             ...
239  5.92       29.03       20.392697
240  2.00       27.18        7.358352
241  2.00       22.67        8.822232
242  1.75       17.82        9.820426
243  3.00       18.78       15.974441

[244 rows x 3 columns]

In [48]:
df['tip_percentage'] = np.round(100 * df['tip'] / df['total_bill'],2)
df[['tip','total_bill','tip_percentage']]

      tip  total_bill  tip_percentage
0    1.01       16.99            5.94
1    1.66       10.34           16.05
2    3.50       21.01           16.66
3    3.31       23.68           13.98
4    3.61       24.59           14.68
..    ...         ...             ...
239  5.92       29.03           20.39
240  2.00       27.18            7.36
241  2.00       22.67            8.82
242  1.75       17.82            9.82
243  3.00       18.78           15.97

[244 rows x 3 columns]

In [49]:
df

,total_bill,tip,sex,smoker,day,time,size,price_per_person,Payer Name,CC Number,Payment ID,tip_percentage
0,16.99,1.01,Female,No,Sun,Dinner,2,8.49,Christy Cunningham,3560325168603410,Sun2959,5.94
1,10.34,1.66,Male,No,Sun,Dinner,3,3.45,Douglas Tucker,4478071379779230,Sun4608,16.05
2,21.01,3.50,Male,No,Sun,Dinner,3,7.00,Travis Walters,6011812112971322,Sun4458,16.66
3,23.68,3.31,Male,No,Sun,Dinner,2,11.84,Nathaniel Harris,4676137647685994,Sun5260,13.98
4,24.59,3.61,Female,No,Sun,Dinner,4,6.15,Tonya Carter,4832732618637221,Sun2251,14.68
...,...,...,...,...,...,...,...,...,...,...,...,...
239,29.03,5.92,Male,No,Sat,Dinner,3,9.68,Michael Avila,5296068606052842,Sat2657,20.39
240,27.18,2.00,Female,Yes,Sat,Dinner,2,13.59,Monica Sanders,3506806155565404,Sat1766,7.36
241,22.67,2.00,Male,Yes,Sat,Dinner,2,11.34,Keith Wong,6011891618747196,Sat3880,8.82
242,17.82,1.75,Male,No,Sat,Dinner,2,8.91,Dennis Dixon,4375220550950,Sat17,9.82
243,18.78,3.00,Female,No,Thur,Dinner,2,9.39,Michelle Hardin,3511451626698139,Thur672,15.97

In [51]:
df.drop('price_per_person')

KeyError: "['price_per_person'] not found in axis"

In [56]:
#df.drop('price_per_person',axis=1,inplace=True)
df = df.drop('price_per_person',axis=1)

KeyError: "['price_per_person'] not found in axis"

In [58]:
df.shape

(244, 11)

In [59]:
df.head()

,total_bill,tip,sex,smoker,day,time,size,Payer Name,CC Number,Payment ID,tip_percentage
0,16.99,1.01,Female,No,Sun,Dinner,2,Christy Cunningham,3560325168603410,Sun2959,5.94
1,10.34,1.66,Male,No,Sun,Dinner,3,Douglas Tucker,4478071379779230,Sun4608,16.05
2,21.01,3.50,Male,No,Sun,Dinner,3,Travis Walters,6011812112971322,Sun4458,16.66
3,23.68,3.31,Male,No,Sun,Dinner,2,Nathaniel Harris,4676137647685994,Sun5260,13.98
4,24.59,3.61,Female,No,Sun,Dinner,4,Tonya Carter,4832732618637221,Sun2251,14.68

In [61]:
df.index

RangeIndex(start=0, stop=244, step=1)

In [63]:
df.set_index('Payment ID')

,total_bill,tip,sex,smoker,day,time,size,Payer Name,CC Number,tip_percentage
Payment ID,,,,,,,,,,
Sun2959,16.99,1.01,Female,No,Sun,Dinner,2,Christy Cunningham,3560325168603410,5.94
Sun4608,10.34,1.66,Male,No,Sun,Dinner,3,Douglas Tucker,4478071379779230,16.05
Sun4458,21.01,3.50,Male,No,Sun,Dinner,3,Travis Walters,6011812112971322,16.66
Sun5260,23.68,3.31,Male,No,Sun,Dinner,2,Nathaniel Harris,4676137647685994,13.98
Sun2251,24.59,3.61,Female,No,Sun,Dinner,4,Tonya Carter,4832732618637221,14.68
...,...,...,...,...,...,...,...,...,...,...
Sat2657,29.03,5.92,Male,No,Sat,Dinner,3,Michael Avila,5296068606052842,20.39
Sat1766,27.18,2.00,Female,Yes,Sat,Dinner,2,Monica Sanders,3506806155565404,7.36
Sat3880,22.67,2.00,Male,Yes,Sat,Dinner,2,Keith Wong,6011891618747196,8.82
Sat17,17.82,1.75,Male,No,Sat,Dinner,2,Dennis Dixon,4375220550950,9.82
Thur672,18.78,3.00,Female,No,Thur,Dinner,2,Michelle Hardin,3511451626698139,15.97

In [65]:
df = df.set_index('Payment ID')

KeyError: "None of ['Payment ID'] are in the columns"

In [70]:
df.reset_index()

,Payment ID,total_bill,tip,sex,smoker,day,time,size,Payer Name,CC Number,tip_percentage
0,Sun2959,16.99,1.01,Female,No,Sun,Dinner,2,Christy Cunningham,3560325168603410,5.94
1,Sun4608,10.34,1.66,Male,No,Sun,Dinner,3,Douglas Tucker,4478071379779230,16.05
2,Sun4458,21.01,3.50,Male,No,Sun,Dinner,3,Travis Walters,6011812112971322,16.66
3,Sun5260,23.68,3.31,Male,No,Sun,Dinner,2,Nathaniel Harris,4676137647685994,13.98
4,Sun2251,24.59,3.61,Female,No,Sun,Dinner,4,Tonya Carter,4832732618637221,14.68
...,...,...,...,...,...,...,...,...,...,...,...
239,Sat2657,29.03,5.92,Male,No,Sat,Dinner,3,Michael Avila,5296068606052842,20.39
240,Sat1766,27.18,2.00,Female,Yes,Sat,Dinner,2,Monica Sanders,3506806155565404,7.36
241,Sat3880,22.67,2.00,Male,Yes,Sat,Dinner,2,Keith Wong,6011891618747196,8.82
242,Sat17,17.82,1.75,Male,No,Sat,Dinner,2,Dennis Dixon,4375220550950,9.82
243,Thur672,18.78,3.00,Female,No,Thur,Dinner,2,Michelle Hardin,3511451626698139,15.97

In [72]:
df.iloc[0]

total_bill                     16.99
tip                             1.01
sex                           Female
smoker                            No
day                              Sun
time                          Dinner
size                               2
Payer Name        Christy Cunningham
CC Number           3560325168603410
tip_percentage                  5.94
Name: Sun2959, dtype: object

In [74]:
df.loc['Sun2959']

total_bill                     16.99
tip                             1.01
sex                           Female
smoker                            No
day                              Sun
time                          Dinner
size                               2
Payer Name        Christy Cunningham
CC Number           3560325168603410
tip_percentage                  5.94
Name: Sun2959, dtype: object

In [75]:
df.iloc[0:4]

,total_bill,tip,sex,smoker,day,time,size,Payer Name,CC Number,tip_percentage
Payment ID,,,,,,,,,,
Sun2959,16.99,1.01,Female,No,Sun,Dinner,2,Christy Cunningham,3560325168603410,5.94
Sun4608,10.34,1.66,Male,No,Sun,Dinner,3,Douglas Tucker,4478071379779230,16.05
Sun4458,21.01,3.50,Male,No,Sun,Dinner,3,Travis Walters,6011812112971322,16.66
Sun5260,23.68,3.31,Male,No,Sun,Dinner,2,Nathaniel Harris,4676137647685994,13.98

In [77]:
df.loc[['Sun2959','Sun4458']]

,total_bill,tip,sex,smoker,day,time,size,Payer Name,CC Number,tip_percentage
Payment ID,,,,,,,,,,
Sun2959,16.99,1.01,Female,No,Sun,Dinner,2,Christy Cunningham,3560325168603410,5.94
Sun4458,21.01,3.50,Male,No,Sun,Dinner,3,Travis Walters,6011812112971322,16.66

In [80]:
df.drop('Sun4458')

,total_bill,tip,sex,smoker,day,time,size,Payer Name,CC Number,tip_percentage
Payment ID,,,,,,,,,,
Sun2959,16.99,1.01,Female,No,Sun,Dinner,2,Christy Cunningham,3560325168603410,5.94
Sun4608,10.34,1.66,Male,No,Sun,Dinner,3,Douglas Tucker,4478071379779230,16.05
Sun5260,23.68,3.31,Male,No,Sun,Dinner,2,Nathaniel Harris,4676137647685994,13.98
Sun2251,24.59,3.61,Female,No,Sun,Dinner,4,Tonya Carter,4832732618637221,14.68
Sun9679,25.29,4.71,Male,No,Sun,Dinner,4,Erik Smith,213140353657882,18.62
...,...,...,...,...,...,...,...,...,...,...
Sat2657,29.03,5.92,Male,No,Sat,Dinner,3,Michael Avila,5296068606052842,20.39
Sat1766,27.18,2.00,Female,Yes,Sat,Dinner,2,Monica Sanders,3506806155565404,7.36
Sat3880,22.67,2.00,Male,Yes,Sat,Dinner,2,Keith Wong,6011891618747196,8.82
Sat17,17.82,1.75,Male,No,Sat,Dinner,2,Dennis Dixon,4375220550950,9.82
Thur672,18.78,3.00,Female,No,Thur,Dinner,2,Michelle Hardin,3511451626698139,15.97

In [83]:
r = df.iloc[0]
df.append(r).loc['Sun2959']

,total_bill,tip,sex,smoker,day,time,size,Payer Name,CC Number,tip_percentage
Payment ID,,,,,,,,,,
Sun2959,16.99,1.01,Female,No,Sun,Dinner,2,Christy Cunningham,3560325168603410,5.94
Sun2959,16.99,1.01,Female,No,Sun,Dinner,2,Christy Cunningham,3560325168603410,5.94