In [2]:
import pandas as pd
import numpy as np

In [7]:
print(np.nan)
print(np.nan == np.nan)
print(np.nan is np.nan)
print(pd.NaT)

nan
False
True
NaT

In [9]:
df = pd.read_csv('../course_notebooks/03-Pandas/movie_scores.csv')
df

  first_name last_name   age  sex  pre_movie_score  post_movie_score
0        Tom     Hanks  63.0    m              8.0              10.0
1        NaN       NaN   NaN  NaN              NaN               NaN
2       Hugh   Jackman  51.0    m              NaN               NaN
3      Oprah   Winfrey  66.0    f              6.0               8.0
4       Emma     Stone  31.0    f              7.0               9.0

In [12]:
print(df.isnull())
print()
print(df.notnull())

   first_name  last_name    age    sex  pre_movie_score  post_movie_score
0       False      False  False  False            False             False
1        True       True   True   True             True              True
2       False      False  False  False             True              True
3       False      False  False  False            False             False
4       False      False  False  False            False             False

   first_name  last_name    age    sex  pre_movie_score  post_movie_score
0        True       True   True   True             True              True
1       False      False  False  False            False             False
2        True       True   True   True            False             False
3        True       True   True   True             True              True
4        True       True   True   True             True              True

In [15]:
df[df['pre_movie_score'].notnull()]

  first_name last_name   age sex  pre_movie_score  post_movie_score
0        Tom     Hanks  63.0   m              8.0              10.0
3      Oprah   Winfrey  66.0   f              6.0               8.0
4       Emma     Stone  31.0   f              7.0               9.0

In [18]:
df[df['pre_movie_score'].isnull() & df['sex'].notnull()]

  first_name last_name   age sex  pre_movie_score  post_movie_score
2       Hugh   Jackman  51.0   m              NaN               NaN

In [20]:
df[df['pre_movie_score'].isnull() & df['first_name'].notnull()]

  first_name last_name   age sex  pre_movie_score  post_movie_score
2       Hugh   Jackman  51.0   m              NaN               NaN

In [31]:
print(df.dropna(thresh=1))
print()
print(df.dropna(thresh=5))
print()
print(df.dropna(axis=1,thresh=2))
print()
print(df.dropna(subset=['last_name']))

  first_name last_name   age sex  pre_movie_score  post_movie_score
0        Tom     Hanks  63.0   m              8.0              10.0
2       Hugh   Jackman  51.0   m              NaN               NaN
3      Oprah   Winfrey  66.0   f              6.0               8.0
4       Emma     Stone  31.0   f              7.0               9.0

  first_name last_name   age sex  pre_movie_score  post_movie_score
0        Tom     Hanks  63.0   m              8.0              10.0
3      Oprah   Winfrey  66.0   f              6.0               8.0
4       Emma     Stone  31.0   f              7.0               9.0

  first_name last_name   age  sex  pre_movie_score  post_movie_score
0        Tom     Hanks  63.0    m              8.0              10.0
1        NaN       NaN   NaN  NaN              NaN               NaN
2       Hugh   Jackman  51.0    m              NaN               NaN
3      Oprah   Winfrey  66.0    f              6.0               8.0
4       Emma     Stone  31.0    f              7.0               9.0

  first_name last_name   age sex  pre_movie_score  post_movie_score
0        Tom     Hanks  63.0   m              8.0              10.0
2       Hugh   Jackman  51.0   m              NaN               NaN
3      Oprah   Winfrey  66.0   f              6.0               8.0
4       Emma     Stone  31.0   f              7.0               9.0

In [33]:
df.fillna('NVal')

  first_name last_name   age   sex pre_movie_score post_movie_score
0        Tom     Hanks  63.0     m             8.0             10.0
1       NVal      NVal  NVal  NVal            NVal             NVal
2       Hugh   Jackman  51.0     m            NVal             NVal
3      Oprah   Winfrey  66.0     f             6.0              8.0
4       Emma     Stone  31.0     f             7.0              9.0

In [35]:
df['pre_movie_score'].fillna(0)

0    8.0
1    0.0
2    0.0
3    6.0
4    7.0
Name: pre_movie_score, dtype: float64

In [37]:
df.fillna(df.mean())

F:\Dev\python\course\venv\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """Entry point for launching an IPython kernel.

  first_name last_name    age  sex  pre_movie_score  post_movie_score
0        Tom     Hanks  63.00    m              8.0              10.0
1        NaN       NaN  52.75  NaN              7.0               9.0
2       Hugh   Jackman  51.00    m              7.0               9.0
3      Oprah   Winfrey  66.00    f              6.0               8.0
4       Emma     Stone  31.00    f              7.0               9.0

In [42]:
d = pd.read_csv('../course_notebooks/03-Pandas/mpg.csv')
d

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140,3449,10.5,70,1,ford torino
...,...,...,...,...,...,...,...,...,...
393,27.0,4,140.0,86,2790,15.6,82,1,ford mustang gl
394,44.0,4,97.0,52,2130,24.6,82,2,vw pickup
395,32.0,4,135.0,84,2295,11.6,82,1,dodge rampage
396,28.0,4,120.0,79,2625,18.6,82,1,ford ranger
397,31.0,4,119.0,82,2720,19.4,82,1,chevy s-10

In [47]:
d.groupby('model_year').mean()['mpg']

model_year
70    17.689655
71    21.250000
72    18.714286
73    17.100000
74    22.703704
75    20.266667
76    21.573529
77    23.375000
78    24.061111
79    25.093103
80    33.696552
81    30.334483
82    31.709677
Name: mpg, dtype: float64

In [54]:
d.groupby(['model_year','cylinders']).mean().index
d.groupby(['model_year','cylinders']).mean()

                            mpg  displacement       weight  acceleration  \
model_year cylinders
70         4          25.285714    107.000000  2292.571429     16.000000
           6          20.500000    199.000000  2710.500000     15.500000
           8          14.111111    367.555556  3940.055556     11.194444
71         4          27.461538    101.846154  2056.384615     16.961538
           6          18.000000    243.375000  3171.875000     14.750000
           8          13.428571    371.714286  4537.714286     12.214286
72         3          19.000000     70.000000  2330.000000     13.500000
           4          23.428571    111.535714  2382.642857     17.214286
           8          13.615385    344.846154  4228.384615     13.000000
73         3          18.000000     70.000000  2124.000000     13.500000
           4          22.727273    109.272727  2338.090909     17.136364
           6          19.000000    212.250000  2917.125000     15.687500
           8          13.200000    365.250000  4279.050000     12.250000
74         4          27.800000     96.533333  2151.466667     16.400000
           6          17.857143    230.428571  3320.000000     16.857143
           8          14.200000    315.200000  4438.400000     14.700000
75         4          25.250000    114.833333  2489.250000     15.833333
           6          17.583333    233.750000  3398.333333     17.708333
           8          15.666667    330.500000  4108.833333     13.166667
76         4          26.766667    106.333333  2306.600000     16.866667
           6          20.000000    221.400000  3349.600000     17.000000
           8          14.666667    324.000000  4064.666667     13.222222
77         3          21.500000     80.000000  2720.000000     13.500000
           4          29.107143    106.500000  2205.071429     16.064286
           6          19.500000    220.400000  3383.000000     16.900000
           8          16.000000    335.750000  4177.500000     13.662500
78         4          29.576471    112.117647  2296.764706     16.282353
           5          20.300000    131.000000  2830.000000     15.900000
           6          19.066667    213.250000  3314.166667     16.391667
           8          19.050000    300.833333  3563.333333     13.266667
79         4          31.525000    113.583333  2357.583333     15.991667
           5          25.400000    183.000000  3530.000000     20.100000
           6          22.950000    205.666667  3025.833333     15.433333
           8          18.630000    321.400000  3862.900000     15.400000
80         3          23.700000     70.000000  2420.000000     12.500000
           4          34.612000    111.000000  2360.080000     17.144000
           5          36.400000    121.000000  2950.000000     19.900000
           6          25.900000    196.500000  3145.500000     15.050000
81         4          32.814286    108.857143  2275.476190     16.466667
           6          23.428571    184.000000  3093.571429     15.442857
           8          26.600000    350.000000  3725.000000     19.000000
82         4          32.071429    118.571429  2402.321429     16.703571
           6          28.333333    225.000000  2931.666667     16.033333

                        origin
model_year cylinders
70         4          2.285714
           6          1.000000
           8          1.000000
71         4          1.923077
           6          1.000000
           8          1.000000
72         3          3.000000
           4          1.928571
           8          1.000000
73         3          3.000000
           4          2.000000
           6          1.250000
           8          1.000000
74         4          2.200000
           6          1.000000
           8          1.000000
75         4          2.166667
           6          1.000000
           8          1.000000
76         4          1.866667
           6          1.300000
           8          1.000000
77         3          3.000000
           4          1.857143
           6          1.400000
           8          1.000000
78         4          2.117647
           5          2.000000
           6          1.166667
           8          1.000000
79         4          1.583333
           5          2.000000
           6          1.000000
           8          1.000000
80         3          3.000000
           4          2.200000
           5          2.000000
           6          2.000000
81         4          2.095238
           6          1.714286
           8          1.000000
82         4          1.714286
           6          1.000000

In [61]:
d.groupby(['model_year','cylinders']).describe().loc[[70,71]]

                       mpg                                                 \
                     count       mean       std   min    25%   50%    75%
model_year cylinders
70         4           7.0  25.285714  1.112697  24.0  24.50  25.0  26.00
           6           4.0  20.500000  1.732051  18.0  20.25  21.0  21.25
           8          18.0  14.111111  2.609685   9.0  14.00  14.5  15.00
71         4          13.0  27.461538  3.502746  22.0  25.00  27.0  30.00
           6           8.0  18.000000  1.069045  16.0  17.75  18.0  19.00
           8           7.0  13.428571  0.786796  12.0  13.00  14.0  14.00

                           displacement              ... acceleration        \
                       max        count        mean  ...          75%   max
model_year cylinders                                 ...
70         4          27.0          7.0  107.000000  ...       17.500  20.5
           6          22.0          4.0  199.000000  ...       15.625  16.0
           8          18.0         18.0  367.555556  ...       12.000  18.5
71         4          35.0         13.0  101.846154  ...       19.000  20.5
           6          19.0          8.0  243.375000  ...       15.500  15.5
           8          14.0          7.0  371.714286  ...       12.500  13.5

                     origin
                      count      mean       std  min  25%  50%  75%  max
model_year cylinders
70         4            7.0  2.285714  0.487950  2.0  2.0  2.0  2.5  3.0
           6            4.0  1.000000  0.000000  1.0  1.0  1.0  1.0  1.0
           8           18.0  1.000000  0.000000  1.0  1.0  1.0  1.0  1.0
71         4           13.0  1.923077  0.862316  1.0  1.0  2.0  3.0  3.0
           6            8.0  1.000000  0.000000  1.0  1.0  1.0  1.0  1.0
           8            7.0  1.000000  0.000000  1.0  1.0  1.0  1.0  1.0

[6 rows x 40 columns]

In [64]:
d.groupby(['model_year','cylinders']).describe().xs(key=70,level='model_year')

            mpg                                                       \
          count       mean       std   min    25%   50%    75%   max
cylinders
4           7.0  25.285714  1.112697  24.0  24.50  25.0  26.00  27.0
6           4.0  20.500000  1.732051  18.0  20.25  21.0  21.25  22.0
8          18.0  14.111111  2.609685   9.0  14.00  14.5  15.00  18.0

          displacement              ... acceleration       origin            \
                 count        mean  ...          75%   max  count      mean
cylinders                           ...
4                  7.0  107.000000  ...       17.500  20.5    7.0  2.285714
6                  4.0  199.000000  ...       15.625  16.0    4.0  1.000000
8                 18.0  367.555556  ...       12.000  18.5   18.0  1.000000


               std  min  25%  50%  75%  max
cylinders
4          0.48795  2.0  2.0  2.0  2.5  3.0
6          0.00000  1.0  1.0  1.0  1.0  1.0
8          0.00000  1.0  1.0  1.0  1.0  1.0

[3 rows x 40 columns]

In [69]:
d.groupby(['model_year','cylinders']).describe().xs(key=4,level='cylinders')

             mpg                                                         \
           count       mean       std   min     25%   50%     75%   max
model_year
70           7.0  25.285714  1.112697  24.0  24.500  25.0  26.000  27.0
71          13.0  27.461538  3.502746  22.0  25.000  27.0  30.000  35.0
72          14.0  23.428571  3.056249  18.0  21.250  23.0  25.750  28.0
73          11.0  22.727273  3.319365  19.0  20.000  22.0  25.000  29.0
74          15.0  27.800000  2.932576  24.0  26.000  26.0  31.000  32.0
75          12.0  25.250000  3.333712  22.0  23.000  24.0  26.000  33.0
76          15.0  26.766667  3.825976  19.0  25.000  27.0  29.000  33.0
77          14.0  29.107143  4.039129  21.5  25.625  30.0  31.250  36.0
78          17.0  29.576471  6.384799  21.1  23.900  29.5  32.800  43.1
79          12.0  31.525000  4.349739  22.3  28.150  32.7  34.275  37.3
80          25.0  34.612000  6.597621  23.6  29.800  33.8  40.800  46.6
81          21.0  32.814286  3.844904  25.8  30.000  33.0  34.700  39.1
82          28.0  32.071429  5.054727  23.0  27.750  32.0  36.000  44.0

           displacement              ... acceleration       origin            \
                  count        mean  ...          75%   max  count      mean
model_year                           ...
70                  7.0  107.000000  ...       17.500  20.5    7.0  2.285714
71                 13.0  101.846154  ...       19.000  20.5   13.0  1.923077
72                 14.0  111.535714  ...       18.000  23.5   14.0  1.928571
73                 11.0  109.272727  ...       19.250  21.0   11.0  2.000000
74                 15.0   96.533333  ...       16.750  21.0   15.0  2.200000
75                 12.0  114.833333  ...       17.000  18.5   12.0  2.166667
76                 15.0  106.333333  ...       17.550  22.2   15.0  1.866667
77                 14.0  106.500000  ...       16.950  18.6   14.0  1.857143
78                 17.0  112.117647  ...       16.700  21.5   17.0  2.117647
79                 12.0  113.583333  ...       16.325  24.8   12.0  1.583333
80                 25.0  111.000000  ...       18.100  23.7   25.0  2.200000
81                 21.0  108.857143  ...       17.300  20.7   21.0  2.095238
82                 28.0  118.571429  ...       18.050  24.6   28.0  1.714286


                 std  min  25%  50%   75%  max
model_year
70          0.487950  2.0  2.0  2.0  2.50  3.0
71          0.862316  1.0  1.0  2.0  3.00  3.0
72          0.828742  1.0  1.0  2.0  2.75  3.0
73          0.632456  1.0  2.0  2.0  2.00  3.0
74          0.774597  1.0  2.0  2.0  3.00  3.0
75          0.717741  1.0  2.0  2.0  3.00  3.0
76          0.743223  1.0  1.0  2.0  2.00  3.0
77          0.864438  1.0  1.0  2.0  2.75  3.0
78          0.927520  1.0  1.0  2.0  3.00  3.0
79          0.792961  1.0  1.0  1.0  2.00  3.0
80          0.816497  1.0  2.0  2.0  3.00  3.0
81          0.943650  1.0  1.0  2.0  3.00  3.0
82          0.937180  1.0  1.0  1.0  3.00  3.0

[13 rows x 40 columns]

In [70]:
d[d['cylinders'].isin([6,8])].groupby(['model_year','cylinders']).mean()

                            mpg  displacement       weight  acceleration  \
model_year cylinders
70         6          20.500000    199.000000  2710.500000     15.500000
           8          14.111111    367.555556  3940.055556     11.194444
71         6          18.000000    243.375000  3171.875000     14.750000
           8          13.428571    371.714286  4537.714286     12.214286
72         8          13.615385    344.846154  4228.384615     13.000000
73         6          19.000000    212.250000  2917.125000     15.687500
           8          13.200000    365.250000  4279.050000     12.250000
74         6          17.857143    230.428571  3320.000000     16.857143
           8          14.200000    315.200000  4438.400000     14.700000
75         6          17.583333    233.750000  3398.333333     17.708333
           8          15.666667    330.500000  4108.833333     13.166667
76         6          20.000000    221.400000  3349.600000     17.000000
           8          14.666667    324.000000  4064.666667     13.222222
77         6          19.500000    220.400000  3383.000000     16.900000
           8          16.000000    335.750000  4177.500000     13.662500
78         6          19.066667    213.250000  3314.166667     16.391667
           8          19.050000    300.833333  3563.333333     13.266667
79         6          22.950000    205.666667  3025.833333     15.433333
           8          18.630000    321.400000  3862.900000     15.400000
80         6          25.900000    196.500000  3145.500000     15.050000
81         6          23.428571    184.000000  3093.571429     15.442857
           8          26.600000    350.000000  3725.000000     19.000000
82         6          28.333333    225.000000  2931.666667     16.033333

                        origin
model_year cylinders
70         6          1.000000
           8          1.000000
71         6          1.000000
           8          1.000000
72         8          1.000000
73         6          1.250000
           8          1.000000
74         6          1.000000
           8          1.000000
75         6          1.000000
           8          1.000000
76         6          1.300000
           8          1.000000
77         6          1.400000
           8          1.000000
78         6          1.166667
           8          1.000000
79         6          1.000000
           8          1.000000
80         6          2.000000
81         6          1.714286
           8          1.000000
82         6          1.000000

In [72]:
d.agg({'mpg':['max','mean'],'weight':['mean','std']})

            mpg       weight
max   46.600000          NaN
mean  23.514573  2970.424623
std         NaN   846.841774