In [5]:
import numpy as np

In [6]:
import pandas as pd

In [9]:
# help(pd.Series)

In [18]:
index = ['USA', 'Canada', 'Mexico']
data = [1776,1867,1821]
series = pd.Series(data=data)
print(series)
print()
s2 = pd.Series(data=data,index=index)
print(s2)
print()
print(s2['USA'])
print(s2[0])

ages = {'Mogyi':3, 'Hana':2,'Spike':7}
pd.Series(ages)

0    1776
1    1867
2    1821
dtype: int64

USA       1776
Canada    1867
Mexico    1821
dtype: int64

1776
1776

Mogyi    3
Hana     2
Spike    7
dtype: int64

In [22]:
# Imaginary Sales Data for 1st and 2nd Quarters for Global Company
q1 = {'Japan': 80, 'China': 450, 'India': 200, 'USA': 250}
q2 = {'Brazil': 100,'China': 500, 'India': 210,'USA': 260}
sales_q1 = pd.Series(q1)
sales_q2 = pd.Series(q2)
sales_q1.keys()

Index(['Japan', 'China', 'India', 'USA'], dtype='object')

In [25]:
sales_q1 /100

Japan    0.8
China    4.5
India    2.0
USA      2.5
dtype: float64

In [29]:
print(sales_q1 + sales_q2)

Brazil      NaN
China     950.0
India     410.0
Japan       NaN
USA       510.0
dtype: float64

In [30]:
sales_q1.add(sales_q2,fill_value=0)

Brazil    100.0
China     950.0
India     410.0
Japan      80.0
USA       510.0
dtype: float64